.nav{
    background-color: RGB(252,249,234);
    z-index: 5;
  }
  .nav ul{
    margin: 0;
    padding: 0;
    justify-content:space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav li{
    text-align: center;
    list-style: none; 
    margin: 20px;
  }
 .nav li img{
    justify-self: left;
    height: 70px;
 }
 .nav-middle{
    display: flex;
    flex: 1;
    
 }
 .nav-middle li{
    text-decoration: none;
    font-size: 20px;
 }
 .nav-middle a li span:hover{
    color:blue;
    cursor: pointer;
 }
 .menuBar{
   font-size: 25px;
 }
 .menuBar:hover{
   cursor: pointer;
 }
 .menu-wrap {
   z-index: 10;
   display: flex;
   position: fixed;
   right: 0px;
   width: 150px;
   height: 100%;
   background-color: RGB(187,223,219);;
   
 }
 .menu-wrap ul{
   line-height: 250%;
   list-style: none;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   height: 100%;
   margin: 20px -10px;
 }
 .menu-wrap ul li{
   font-size: larger;
   text-align: left;
 }
 .menu-wrap ul li:hover{
   cursor: pointer;
   color: blue;
 }
 .menu-wrap .copyright{
   margin: -10px;
   padding: 10px;
   width: 130px;
   background-color: rgb(137, 189, 184);
   position: fixed;
   right: 10px;
   bottom: 10px;
   font-size: 10px;
   line-height: 100%;
 }
 .menu-wrap .copyright:hover{
  cursor: default;
  color: black;
 }
 .menu-wrap .exit{
   color: black;
   background-color: #eee;
   border: 0;
   position: fixed;
   right: 5px;
   top: 5px;
   width: 30px;
   height: 30px;
 }
 .menu-wrap .exit:hover{
   cursor: pointer;
   background-color: rgb(192, 192, 192);
 }
.help-Popup{
  background-color: rgba(0, 0, 0,0.5);
  width: 100%;
  height: 100%;
  align-self: center;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.class-Value{
  width: 30%;
  background-color: azure;
  border-radius: 5px 5px 5px 5px;
  height: 70%;
  text-align: center;
  padding: 10px;
  line-height: 200%;
  
}
.class-Value ul{
  padding: 0; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.class-Value li{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.class-Value li:hover{
  cursor: pointer;
  color: blue;
}
.class-Value p{
  height: 80%;
  display: flex;
  flex: 1;
  text-align: center;
  width: 100%;
}
.class-Value .exit{
  width: 30%;
  font-size: larger;
  border: 0;
  background-color:rgb(161, 161, 161);
}
.class-Value .exit:hover{
  cursor: pointer;
  color: blue;
}