.nav{
    background-color: RGB(252,249,234);
    z-index: 5;
  }
  .nav ul{
    margin: 0;
    padding: 0;
    justify-content:space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav li{
    text-align: center;
    list-style: none; 
    margin: 1vw;
  }
 .nav li img{
    justify-self: left;
    height: 5vw;
 }
 .nav-middle{
    display: flex;
    flex: 1;
 }
 .nav-middle li{
    text-decoration: none;
    font-size: 1.2vw;
 }
 .nav-middle a li span:hover{
    color:blue;
    cursor: url('../../../public/img/cursor_click.png'), auto;
 }
 .menuBar{
   font-size: 2vw;
   z-index: 4;
 }
 .menuBar:hover{
   cursor: url('../../../public/img/cursor_click.png'), auto;
 }
 .menu-wrap {
   z-index: 9;  
   display: flex;
   position: fixed;
   right: 0px;
   width: 150px;
   height: 100%;
   background-color: RGB(187,223,219);;
   
 }
 .menu-wrap ul{
   line-height: 3vw;
   list-style: none;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   height: 100%;
   margin: 20px -10px;
 }
 .menu-wrap ul li{
   font-size: 1vw;
   text-align: left;
 }
 .menu-wrap ul li:hover{
   cursor: url('../../../public/img/cursor_click.png'), auto;
   color: blue;
 }
 .menu-wrap .copyright{
   margin: -10px;
   padding: 10px;
   width: 130px;
   background-color: rgb(137, 189, 184);
   position: fixed;
   right: 10px;
   bottom: 10px;
   font-size: 0.5vw;
   line-height: 100%;
 }
 .menu-wrap .copyright:hover{
  cursor: url('../../../public/img/cursor_click.png'), auto;
  color: black;
 }
 .menu-wrap .exit{
   color: black;
   background-color: #eee;
   border: 0;
   position: fixed;
   right: 5px;
   top: 5px;
   width: 30px;
   height: 30px;
 }
 .menu-wrap .exit:hover{
   cursor: url('../../../public/img/cursor_click.png'), auto;
   background-color: rgb(192, 192, 192);
 }
.Popup{
  background-color: rgba(0, 0, 0,0.5);
  width: 100%;
  height: 100%;
  align-self: center;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.class-Value{
  width: 30%;
  background-color: azure;
  border-radius: 5px 5px 5px 5px;
  height: 70%;
  text-align: center;
  padding: 10px;
  line-height: 200%;
  
}
.class-Value ul{
  padding: 0; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.class-Value li{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.class-Value li:hover{
  cursor: url('../../../public/img/cursor_click.png'), auto;
  color: blue;
}
.class-Value p{
  height: 80%;
  display: flex;
  flex: 1;
  text-align: center;
  width: 100%;
}
.class-Value .exit{
  width: 30%;
  font-size: larger;
  border: 0;
  background-color:rgb(161, 161, 161);
}
.class-Value .exit:hover{
  cursor: url('../../../public/img/cursor_click.png'), auto;
  color: blue;
}

.Setting-Popup{
  background-color: azure;
  width: 30%;
  height: 70%;
  line-height: 200%;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
}
.Setting-Popup ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.settingToggle{
  display: flex;
  align-items: center;
  justify-content: center;
}
.settingToggle h4{
width: 30%;
}
.toggleSwitch {
  width: 3rem;
  margin: 1rem;
  height: 1.5rem;
  display: block;
  position: relative;
  border-radius: 2rem;
  background-color: gray;
  cursor: pointer;
}

.toggleSwitch .toggleButton {
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  top: 50%;
  left: .1rem;
  transform: translateY(-50%);
  border-radius: 50%;
  background: wheat;
}

.toggle:checked ~ .toggleSwitch {
  background: blue;
}

.toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 1.4rem);
  background: #fff;
}

.toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
}