.middle-board{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
}
.middle-board img{
    width: 23vw;
    padding: 30px;
}
.middle-board img:hover{
    cursor: url('../../../public/img/cursor_click.png') 0 3, auto;
}
.middle-board .survey{
    width: 14vw;
}
.middle-board .Text{
    font-size: 2vw;
}