.middle-board{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
}
.middle-board img{
    width: 20rem;
    padding: 30px;
}
.middle-board img:hover{
    cursor: pointer;
}
.middle-board .survey{
    width: 14rem;
}

.info{
    display: flex;
    flex: 1;
    background-color:rgb(187,223,219);
    justify-content: center;
    align-items: center;
}
.info ul li{
    list-style: none;
    line-height: 300%;
}
.info ul li table{
    line-height: 200%;
    border-collapse: collapse;
    text-align: center;
}