
.survey-result{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
    top: -5%;
}
.out-Box{
    position: relative;
    width: 400px;
    height: 120px;
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}
.graph{
    transition: 3s;
    background-color: antiquewhite;
    width: 360px;
    height: 20px;
    position: absolute;
    top: 70%;
    left: 20px;
    transform: translate(0,-50%);
    padding: 10px;
}
.result-job{
    height: 568px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 10px;
}
.result-job img{
    width:390px;
}
.result-job p{
    font-size: 18px;
    
}
.result-job .result-name{
    margin: 10px 0 0 0;
}
.result-job .explain-job{
    width: 350px;
    border: 1px solid black;
    padding: 10px;
    justify-self: flex-end;
    margin: 10px 0 0 0;
}
.etc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
}

.jobs-supply{
    text-align: center;
    display: flex;
}
.jobs-supply p{
    margin: 10px 50px 0 50px;
}
.jobs-supply .good{
    width: 200px;
}
.jobs-supply .notgood{
    width: 200px;
}
.jobs-supply .good span{
    color: blue;
}
.jobs-supply .notgood span{
    color: red;
}
.jobs-supply span{
    font-size: 17px;
}

.toBT{
    text-align: center;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
}
.toBT h2{
    padding: 10px 0 10px 0;
    color:slateblue;
    z-index: -1;
    border-radius: 10px 10px 10px 10px;
}
.toBT h2:hover{
    cursor: url('../../../public/img/cursor_click.png'), auto;
    background-color: lightgray;
}
.fighting{
    padding: 10px;
    border: 1px solid purple;
    border-radius: 7px 7px 7px 7px;
    margin: 10px 0 10px 0;
}