@font-face {
    font-family: "main_font";
    src: url("./survey/fonts/main_font.ttf");
}
body{
    background-color: rgb(255, 255, 255);   
}

.logo{
    max-width: 20%;
    margin: 0 auto;
}
.main_pic{
    margin: 0 auto;
    max-width: 30%;
    max-height: 30%;
}
#text_main{
    font-size: 1rem;
}

#to_board{
    font-family: "main_font";
    margin: 0 auto;
    background-color: rgba(216, 112, 147, 0);
    width: 250px;
    height: 180px;
    margin: 10px;
    font-size: 30px;
    border-radius: 5%;
    border: 0;
}
#to_question{
    font-family: "main_font";
    margin: 0 auto;
    background-color: rgba(216, 112, 147, 0);
    width: 200px;
    height: 230px;
    margin: 10px;
    font-size: 30px;
    border-radius: 5%;
    border: 0;
}
#to_board{
    background-color: rgba(194, 62, 106, 0);
    cursor: pointer;
}
#to_question{
    background-color: rgba(194, 62, 106, 0);
    cursor: pointer;
}
    
#question{
    display: none;
}
#board{
    display: none;
}
#backtomain{
    display: none;
}
#left_side{
    margin: 10px;
    width: 200px;
    height: 500px;
    background-color: white;
    float: left;
}
#right_side{
    margin: 10px;
    width: 200px;
    height: 500px;
    background-color: white;
    float: right;
}