@font-face {
    font-family: "main_font";
    src: url("./survey/fonts/main_font.ttf");
}
body{
    background-color: rgb(255,255,145);
    
}
#main{
    margin: 0 auto;
    text-align: center;
    min-width: 60%;
    max-width: 60%;
    max-height: auto;
    background-color: white;
    border-radius: 8%;
    padding-bottom: 5%;
}
.logo{
    max-width: 40%;
    background-color: white;
}
.main_pic{
    margin: 0 auto;
    max-width: 40%;
    max-height: 40%;
}
#text_main{
    font-size: 1rem;
}

#to_board{
    font-family: "main_font";
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0,);
    width: 250px;
    height: 180px;
    margin: 10px;
    font-size: 30px;
    border-radius: 5%;
    border: 0;
}
#to_question{
    font-family: "main_font";
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0);
    width: 200px;
    height: 230px;
    margin: 10px;
    font-size: 30px;
    border-radius: 5%;
    border: 0;
}
#to_board{
    background-color: rgba(194, 62, 106, 0);
    cursor: pointer;
}
#to_question{
    background-color: rgb(194, 62, 106, 0);
    cursor: pointer;
}
    
#question{
    display: none;
}
#board{
    display: none;
}
#backtomain{
    display: none;
}
