.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    flex: 0.27;
    text-align: left;
    background-color: RGB(249,169,120);
}
.footerOnLogo img{
    width: auto;
    height: auto;
}
.footerOnLogo{
    display: flex;  
    width: fit-content;
    text-align: left;
    font-size: 1vw;
}
.footerOnLogo .ment{
    display: flex;
    font-size: 3vw;
    color:brown;
}
.footerOnLogo h2{
    margin-left: 5px;
}
.footer-Banner{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.swipe{
    display: flex;
    font-size: 3vw;
    color: brown;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    width: 100%;
}
.swiper{
    display: flex;
}
.swiper-pagination{
    display: none;
}
