@font-face {
  font-family: 'MICEGothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
*{
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: url('../public/img/cursor_normalsmall.png'),auto;
  margin: 0;
  font-family: MICEGothic Bold;
}
html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body{
  overflow-y: auto;
}
body::-webkit-scrollbar{
  display: none;
}
#root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}