.wrap{
    background-color:beige;
}
.Question{
    text-align: center;       
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.survey-wrap{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.survey-unit{
    border-radius: 10px 10px 10px 10px;
    float: left;
    width: 60%;
    margin: 5px;
    z-index: 5;
    border: 2px solid green;
    cursor: url('../../../public/img/cursor_click.png'), auto;
    font-size:20px;
    background-color: beige;
}
.survey-unit:hover {
    cursor: url('../../../public/img/cursor_click.png'), auto;
    background-color: burlywood;
}
.survey-unit label{
    cursor: url('../../../public/img/cursor_click.png'), auto;
    background-color: burlywood;
}
.survey-unit input[type="radio"]{
    display: none;
}
.survey-unit p{
    margin: 10px;

}

@media all and (min-width: 1024px){
    /*데스크탑*/
    .Question{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .Question img{
        width: 70%;
        margin-bottom: 10px;
    }
}
@media all and (max-width: 768px){
/*모바일*/
.Question{
    position: absolute;

}
.Question img{
    width: 70%;
}
}


