.wrap{
    background-color:beige;
}
.Background{
    position: absolute;
    background-color: beige;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 550px;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
}
.Question{
    flex: 1;
    margin: 20px;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Question img{
    width: 410px;
    margin-bottom: 10px;
}
.survey-wrap{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}
.Background hr{
    width: 90%;
    margin-bottom: 10px;
    color: white;
}
.survey-unit{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5px;
    z-index: 5;
    border: 2px solid green;
    cursor: pointer;
    font-size:20px;
    border-radius: 10px 10px 10px 10px;
    background-color: beige;
}
.survey-unit:hover {
    cursor: pointer;
    background-color: burlywood;
}
.survey-unit p{
    margin: 10px;

}
.survey-unit input[type="radio"]{
    display: none;
}
.survey-unit label{
    width: 100%;
    z-index: 1;
}
.survey-unit label:hover{
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    background-color: burlywood;
}