@font-face {
  font-family: 'MICEGothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
::-webkit-scrollbar-thumb:hover { 
  cursor: url('../public/img/cursor_normalsmall.png'), auto;
}
*{
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: url('../public/img/cursor_normalsmall.png'), auto;
  margin: 0;
  font-family: MICEGothic Bold;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
  cursor: url('../public/img/cursor_normalsmall.png'), auto;
}
html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.wrap{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.Text{
  color: gray;
  align-self: center;
}
.Home{
  width: 100%;
  z-index: 5;
  display: flex;
  text-align: center;
  flex: 1;
  justify-content: center;
  font-size: 3vw;
  background-image: url('../public/img/bg.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}
.middle-board{
  flex: 1;
}
.footer{
  display: flex;
  text-align: center;
  background-color: RGB(249,169,120);
  justify-content: center;
  height: 105.7px;
  flex: 0.238;
}
.NotFound{
  font-family: Arial;
  position: relative;
  top: 100px;
  text-align: center;
  color: red;
  font-size: 4rem;
}
.NotFound-wrap{
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex: 1;
}
.warning{
  z-index: 10;
  position: absolute;
  text-align: center;
  font-size: 80px;
  width: 100%;
  height: 100%;
  background-color: yellow;
  display: none;
}
.warning p{
  color: red;
}
