@font-face {
  font-family: 'snByulByul';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.6/snByulByul.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  font-family: 'snByulByul';
}
html, body{
  margin: 0;
  height: 100%;
  display: flex;
  flex-flow: column;
}
#root{
display: flex;
flex-direction: column;
height: 100%;
}
.wrap{
  height: 100%;
  display: flex;
  flex-direction: column;
  
}
.Text{
  color: gray;
  align-self: center;
}
.Home{
  z-index: 5;
  display: flex;
  text-align: center;
  flex: 1;
  justify-content: center;
  font-size: 3rem;
  z-index: 0;
  background-image: url('../public/img/bg.jpg');
  background-repeat: no-repeat;
  background-size:contain ;
}
.Home .Text{
  position: relative;

}
.middle-board{
  flex: 1;
}
.footer{
  display: flex;
  text-align: center;
  background-color: RGB(249,169,120);
  justify-content: center;
  height: 105.7px;
  flex: 0.238;
}
.NotFound{
  font-family: Arial;
  position: relative;
  top: 100px;
  text-align: center;
  color: red;
  font-size: 4rem;
}

.warning{
  z-index: 10px;
  position: absolute;
  text-align: center;
  font-size: 80px;
  width: 100%;
  height: 100%;
  background-color: yellow;
  display: none;
}
.warning p{
  color: red;
}
@media screen and (min-width: 1400px){
  .warning{
    display: block;
  }
  .nav{
    display: none;
  }
  .Home{
    display: none;
  }
  .footer{
    display: none;
  }
}
@media screen and (max-width: 1300px){
  .warning{
    display: block;
  }
  .nav{
    display: none;
  }
  .Home{
    display: none;
  }
  .footer{
    display: none;
  }
}