.wrap{
    background-color:beige;
}
.Background{
    display: flex;
    flex: 1;
    justify-content: center;
}
.Question{
    text-align: center;       
    display: flex;
    flex-direction: column;
    align-items: center;
}
.survey-wrap{
    width: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.survey-unit{
    border-radius: 10px 10px 10px 10px;
    float: left;
    width: 20vw;
    margin: 5px;
    z-index: 5;
    border: 2px solid green;
    cursor: url('../../../public/img/cursor_click.png') 0 2, auto;
    font-size: 20px;
    background-color: beige;
}
.survey-unit:hover, .survey-unit p:hover{
    cursor: url('../../../public/img/cursor_click.png') 0 2, auto;
    background-color: burlywood;
}
.survey-unit label{
    cursor: url('../../../public/img/cursor_click.png') 0 2, auto;
    background-color: burlywood;
}
.survey-unit input[type="radio"]{
    display: none;
}
.survey-unit p{
    margin: 10px;

}
.surveyToHome{
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 7vh;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    color: black;
}
.surveyToHome path:hover{
    color: blue;
    cursor: url('../../../public/img/cursor_click.png'),auto;
}
@media all and (min-width: 769px){
    /*데스크탑*/
    .Question{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        height: 85%;
        width: 38%;
    }
    .Question h2{
        position: fixed;
        top: 51%;
    }
    .Question img{
        position: fixed;
        top: 5%;
        width: 85%;
        margin-bottom: 10px;
    }
    .survey-wrap{
        position: fixed;
        top: 57%;
    }
}
@media all and (max-width: 768px){
/*모바일*/
.surveyToHome{
    position: relative;
    align-self: flex-end;
    right: 40%;
    font-size: 7vh;
    width: fit-content;
    height: fit-content;
}
.Question{  
    position: absolute;
    height: 85%;
    align-self: flex-end;
    justify-content:flex-start;
}
.Question img{
    width: 90%;
}
.Question h2{
    margin-top: 5%;
}
.survey-wrap{
    margin-top: 5%;
    
}
.survey-unit{
    width: 50vw;
    margin: 5vw;
    font-size: 200%;
}
}


