@font-face {
    font-family: 'snByulByul';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.6/snByulByul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'snByulByul';
}
#navbar{
    background-color:#cdf8ff;
    border: 1px solid #88e3ff;
    padding: 10px;
    position: sticky;
    display: flex;
    justify-content: space-between;
}
#top_menu ul{
    align-items: center;
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    right: 4.5rem;
}
#top_menu ul li{
    font-size:larger;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: list-item;
}
#top_menu ul li a{
    text-decoration: none;
    color: gray;
}
#top_menu ul li a:hover{
    color: blue;
}
#middle{
    position: absolute;
    font-size: 3rem;
    color: gray;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#setting{
    align-items: center;
    padding: 10px;
    display: flex;
    font-size: 2rem;
    justify-content: flex-end;
}
body{
    margin: 0;
    background-image:url("../Picture/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo img{
    height: 70px;
}
