@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "main_font";
    src: url(../fonts/main_font.ttf);
}
@font-face{
    font-family: "Medium";
    src: url(../fonts/Medium.ttf);
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, auto));
    grid-template-rows: repeat(3, minmax(100px, auto));
    row-gap: 10px;
}
.Logo-Text{
    width: 30%;
    position: relative;
    bottom: 80%;
    left: 30%;
}
.logo_item{
    height: 470px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    overflow: hidden;

}
.Logo{
    width:100%;
}
.menu{
    grid-auto-flow: row;
    justify-items: center;
}
.to_Survey{
    width: 25%;
    position: relative;
    left: 10%;
}
.survey_item{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-items: center;
    height: 250px
}
.survey_item:hover{
    cursor: pointer;
}
.survey_item h3{
    font-family: main_font;
    font-size: 2em;
    width: 50%;
    position:relative;
    bottom: 70%;
    left: 40%; 
}
.to_Board{
    width: 50%;
}
.board_item{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
    justify-items: center;
    height: 250px;
}
.board_item:hover{
    cursor: pointer;
}
.board_item h3{
    font-family: main_font;
    font-size: 200%;
    width: 50%;
    position: relative;
    bottom: 70%;
    left: 50%; 
}