@charset "utf-8";

@font-face {
    font-family: "main_font";
    src: url(../fonts/main_font.ttf);
}
@font-face{
    font-family: "Medium";
    src: url(./survey/fonts/Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.header{
    background: url(../Picture/bg1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 475px;
}
.LOGO{
    width: 350px;
    height: 150px;
    position: relative;
    left: 15%;
    top: 10%;
}
.main{
    font-family: "main_font";
    position: relative;
    font-size: 1.5em;
    text-align: center;
    left: 8%;
    top: 30%;
    overflow-x: hidden;
    color: rgb(118, 118, 184);
}
.botton{
    text-align: center;
    padding: 20px;
}
.board{
    width: 270px;
    height: 200px;
}
.survey{
    width: 200px;
    height: 230px;
}
h2{
    padding-top: 20px;
    text-align: center;
    font-size: 1em;
    font-family: "Medium";
}