@font-face {
	font-family: "main_font";
	src: url("./fonts/main_font.ttf");
}
@font-face {
    font-family: 'snByulByul';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.6/snByulByul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	background: #FFF3FF;
	cursor: url("../Picture/cursor_normalsmall.png"), auto;
}
.mm-survey {
	margin-top: 75px;
	margin-bottom: 50px;
}
#progress-bar{
	position: relative;
	transition: 0.5s;
}
.mm-survey-container {
	width: 100%;
	min-height: 100%;
	background: #FFF6E7;
}
.mm-survey-results-container {
	width: 100%;
	min-height: 600px;
	background: #fff;
}

.mm-survey-page {
	display: none;
	font-family: 'snByulByul';
	font-weight: 100;
	padding: 40px;
}

.mm-survey-page.active {
	display: block;
}

.mm-survey-controller {
	position: relative;
    height: 60px;
    background: #D9D9D9;
    padding: 12px 14px;
	border-radius: 5%;
}

.mm-survey-results-controller {
	position: relative;
    height: 60px;
    background: #333;
    padding: 12px 14px;
	text-align: center;
}

.mm-back-btn button{
	display: inline-block;
    position: relative;
	font-size: 130%;
	width: 20%;
	font-family: 'main_font';
	color:#333;
	border-radius: 5%;
}
.mm-back-btn button:hover{
	cursor: url("../Picture/cursor_click.png"), auto;
}
.mm-prev-btn {
	display: inline-block;
    position: relative;
	float: left;
}

.mm-next-btn {
	display: inline-block;
	opacity: 0.25;
    position: relative;
    float: right;
}

.mm-finish-btn {
	display: none;
    position: relative;
    float: right;
}

.mm-finish-btn button {
	background: #3DD2AF !important;
    color: #fff;
}

.mm-survey-controller button {
	background: #fff;
    border: none;
    padding: 8px 18px;
    font-family: 'snByulByul';
    font-weight: 300;
	border-radius: 5%;
	cursor: url("../Picture/cursor_click.png"), auto;
}
.mm-survey-controller button:disabled {
	background: #fff;
    border: none;
    padding: 8px 18px;
    font-family: 'snByulByul';
    font-weight: 300;
	border-radius: 5%;
	cursor: url("../Picture/cursor_normalsmall.png"), auto;
}

.mm-survey-results-controller button {
	background: #fff;
	border: none;
	padding: 8px 18px;
}

.mm-survey-progress {
	width: 100%;
	height: 30px;
	background: #ECECEC;
	overflow: hidden;
}

.mm-progress {
	transition: width 0.5s ease-in-out;
}

.mm-survey-progress-bar {
	height: 30px;
    width: 0%;
    background: #FBD7B7;
}

.mm-survey-q {
	list-style-type: none;
	padding: 0px;
}

.mm-survey-q li {
	display: block;
	/*padding: 20px 0px;*/
	margin-bottom: 10px;
	width: 100%;
	background: #fff;
}

.mm-survey-q li input {
	width: 100%;
}

.mm-survery-content label {
	width: 100%;
	padding: 10px 10px;
	margin: 0px !important;
}
.logo-main{
	position: absolute;
	left: 6%;
	top: -1%;
	z-index: 2;
}
.logo-main:hover{
	cursor: url('../Picture/cursor_click.png'), auto;
}
.mm-survery-content label:hover {
	cursor: url('../Picture/cursor_click.png'), auto;
}

.mm-survey-question {
	min-height: 100px;
}

.mm-survey-question p {
	font-size: 22px;
    font-weight: 200;
    margin-bottom: 20px;
    line-height: 40px;
}

.mm-survery-content label p {
	display: inline-block;
    position: relative;
    top: 2px;
    left: 5px;
    margin: 0px;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	color: #292321;
    font-family: 'snByulByul';
    font-weight: 300;
    font-size: 16px;
}

input[type="radio"] + label span {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 2px 4px 0 0;
	vertical-align: middle;
	cursor: url('../Picture/cursor_click.png'), auto;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

input[type="radio"] + label span {
 	background-color: #C9C9C9;
	border: 2px solid white;
}

input[type="radio"]:checked + label span {
	border: 2px solid white;
	background: #F4B183;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
	-webkit-transition: background-color 0.20s ease-in-out;
	-o-transition: background-color 0.20s ease-in-out;
	-moz-transition: background-color 0.20s ease-in-out;
	transition: background-color 0.20s ease-in-out;
}

.mm-survey-item {
	background: #E2F0D9;
	margin-bottom: 15px;
	border-radius: 5%;
}

.mm-prev-btn button:focus, .mm-next-btn button:focus, .mm-finish-btn button:focus {
	outline: none;
	border: none;
}

.mm-survey.okay .mm-next-btn {
	display: inline-block;
	opacity: 1;
}

.mm-finish-btn.active {
	display: inline-block;
}
.mm-finish-btn:hover{
	cursor: url("../Picture/cursor_normalsmall.png"), auto;
}

.mm-survey-results {
	display: none;
}

.mm-survey-results-score {
	margin: 0px;
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 80px;
    font-family: 'snByulByul';
    font-weight: 600;
    letter-spacing: -6px;
}

.mm-survey-results-list {
	list-style-type: none;
	padding: 0px 15px;
    margin: 0px;
}

.mm-survey-results-item {
	color: #fff;
    margin-top: 10px;
    padding: 15px 15px 15px 0px;
    font-family: 'snByulByul';
    font-weight: 300;
}

.mm-survey-results-item.correct {
	background: linear-gradient(to left, #4CB8C4, #3CD3AD);
}

.mm-survey-results-item.incorrect {
	background: linear-gradient(to left, #d33c62, #dc1144);
}

.mm-item-number {
	height: 40px;
	position: relative;
	padding: 17px;
	background: #333;
	color: #fff;
}

.mm-item-info {
	float: right;
}